
{% extends 'general_template.html' %}
{% block header %}
    {% load static %}
    <title>برنامه‌نویسان | پروژه</title>
    <link href="{% static "main_and_users/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "main_and_users/css/common.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "main_and_users/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "main_and_users/css/common.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "css/search.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/project-view.css' %}" rel="stylesheet">
    <script src="{% static "js/position.js" %}"></script>
{% endblock %}

{% block main-container %}



<img src="{% static "main_and_users/img/main-header.png" %}" style="height: 1000px; position: fixed; top: -300px; z-index: -1; width: 110%; margin-right: -100px;">
<main class="container">
    <div class="row">
        <h3 style="color: white; margin-bottom: 265px;width: 587px; ">        ایمیل فراموشی رمز عبور برای شما ارسال شده است.
</h3>
    </div>
</main>

<style>
    .select-options{
        text-align:center;
        height: 100px;
    }
    ::-webkit-input-placeholder {
        text-align:center;
        height: 100px;
    }
    .register-inputs{
        position: relative;
        width: 300px;
        height: 40px !important;
        right: 22px;
        text-align: center;
        margin-top: 10px;
    }
    #id_sending_daily_email{
        position: relative;
        right: 22px !important;
        top: 5px !important;
        height: 15px !important;
        width: 15px !important;
    }
    .errorlist{
        color: pink;
        margin-right: -16px;
        margin-top: 5px;
    }
    #side-menu{display: none;}
</style>

<script type="javascript">
    document.getElementsByTagName('UL').class += 'star-shaped-bullet'
</script>

{% endblock %}
<!--<style>-->
    <!--body{-->
        <!--background-image: url(img/main-header.png);-->
    <!--}-->
<!--</style>-->