{% extends 'general_template_for_signup_and_signin.html' %}
{% block header %}
    {% load static %}
    <title>برنامه‌نویسان | پروژه</title>
    <link href="{% static 'css/project-view.css' %}" rel="stylesheet">
    <script src="{% static "js/position.js" %}"></script>
{% endblock %}

{% block main-container %}
<img src="{% static "main_and_users/img/main-header.png" %}" style="height: 1000px; position: fixed; top: -300px; z-index: -1; width: 110%; margin-right: -100px;">
<main class="container">
    <div class="row">
        <article class="col-md-5 col-md-offset-3" style="">
            <div id="search-box" class="well" style="background-color: #444b55;width: 85%; border: black; height: 232px;">
                <h3 style="color: white;position: relative;top: -20px; text-align: center">تنظیم مجدد رمز عبور</h3>
                <form method="post" role="form">
                    {% csrf_token %}
                    <div class="form-group">
                        <table>
                            {{ new_form.as_table }}
                        </table>
                        <br>
                        <button type="submit" class="btn btn-success" style="    position: absolute; width: 363px; right: 28px; bottom: 35px;">ارسال</button>
                    </div>
                </form>
            </div>
        </article>
    </div>
</main>

<style>
    .select-options{
        text-align:center;
        height: 100px;
    }
    ::-webkit-input-placeholder {
        text-align:center;
        height: 100px;
    }
    .register-inputs{
        position: relative;
        width: 300px;
        height: 40px !important;
        right: 22px;
        text-align: center;
        margin-top: 10px;
    }
    a:hover{
        text-decoration: none;
    }
    .errorlist{
        color: pink;
        margin-right: -16px;
        margin-top: 5px;
    }
    #id_password,#id_confirm_password{
        direction: ltr;
        margin-right: -28px;
        width: 360px;
        margin-right: -27px;
    }
    #id_captcha_1{
        position: relative;
        left: 186px;
        top: 10px;
        height: 39px;
        width: 166px;
    }
    .captcha{
        position: relative;
        left: -176px;
        top: 10px;
        width: 179px;
        height: 39px;
    }
    input:focus {
        color: black;
        text-align: center;
        direction: ltr;
    }
    footer{
        position: relative;
        bottom:-40px;
    }
</style>
{% endblock %}

<!--<style>-->
    <!--body{-->
        <!--background-image: url(img/main-header.png);-->
    <!--}-->
<!--</style>-->